html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
    background-color: black;
}

#map .circle {
    background: crimson;
    border: 1px solid white;
    border-radius: 50%;
    opacity: .6;
}

header, aside, footer {
    margin: 0;
    padding: 0.3rem;
    color: #ffffff;
}

body {
    background: #000000;
}

header {
    background: #03a9f4;
}

footer {
    background: #616161;
}

.content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-container {
    flex-grow: 1;
    display: flex;
    min-height: 0;
}

.content {
    flex: 1;
}

aside {
    flex: 0 1 316px;
    overflow: scroll;
    padding: 0 16px 0 0;
    box-sizing: border-box;
}

.sidebar {
    width: 300px;
}

.sidebar img.rover {
    width: 100%;
    max-width: 90px;
    padding: 5px;
}

@media screen and (max-width: 640px){
    .flex-container {
        flex-direction: column;
    }

    .sidebar {
        flex: 0 1 200px;
    }
}