html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*font-family: 'Kanit', sans-serif;*/
    font-family: 'Exo 2', sans-serif;
}

header {
    position: absolute;
    height: 120px;
    color: #B50303;
    z-index: 1000;
    padding: 5px;

    -webkit-filter: drop-shadow( 3px 3px 3px rgba(200, 200, 200, .7));
    filter: drop-shadow( 3px 3px 3px rgba(200, 200, 200, .7));
}

.title
{
    font-size: larger;
    line-height: 20px;
    padding: 5px;
}

#mars-logo
{
    height: 80px;
    padding: 5px;
}

#cameras
{
    position: absolute;
    height: 200px;
    width: 620px;
    color: #B50303;
    z-index: 2000;
    padding: 15px;
    margin:10px;
    margin-left: 400px;
    opacity: 0.9;
}

#cameras .c_camera, #cameras .s_camera
{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    margin-left: -0px;
    margin-top: -0px;
    background-size: 100% 100%;
    /*background-color: #B50303;*/
    border-radius: 30%;
}

#cameras .c_camera:hover, #cameras .s_camera:hover
{
    opacity: 0.6;
}

#cameras .c_camera
{
    background-image: url('../img/icon.png'); /*doesn't work for some reason*/
    border: 1.5px solid #00691D;
}

#cameras .s_camera
{
    background-image: url('../img/icon.png'); /*doesn't work for some reason*/
    border: 1.5px solid #074369;
}

#cameras img:hover
{
    opacity: 0.6;
}

.c_1
{
    top:10px;
    left: 10px;
    background-color: #00691D;
}

.s_1
{
    top: 70%;
    left: 70%;
    color: #074369;
}

#rovers
{
    position: absolute;
    height: 200px;
    color: #B50303;
    z-index: 2000;
    padding: 5px;
    margin-left: 400px;
}

#rovers .rover
{
    padding: 10px;
    opacity: 0.9;
    margin: 10px;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.15);
}

#rovers .rover:hover /*stopped working when I added the cameras*/
{
    opacity: 0.6;
}

#rovers #curiosity
{
    border: 1.5px solid #00691D;
}

#rovers #spirit
{
    border: 1.5px solid #074369;
}

#map {
    height: 100%;
    width: 100%;
    background-color: black;
}

#map .pointer
{
    background-size: cover;
}

#map .pointer.curiosity
{
    background: url("../img/pointer-curiosity.svg");
}

#map .pointer.spirit
{
    background: url("../img/pointer-spirit.svg");
}

#map .circle.curiosity{
    background: #00691D;
    border: 1px solid #323232;
    border-radius: 50%;
    opacity: .4;
}

#map .circle.spirit
{
    background: #074369;
    border: 1px solid #323232;
    border-radius: 50%;
    opacity: .4;
}

#map .leaflet-top.leaflet-left {
    top: 130px;
}

#map .message-control {
    display: none;
    color: white;
}

header, aside, footer {
    margin: 0;
    padding: 0.3rem;
    color: #B50303;
}

body {
    background: #000000;
}

footer {
    background: #272727;
    text-align: right;
}

.content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-container {
    flex-grow: 1;
    display: flex;
    min-height: 0;
}

.content {
    flex: 1;
}

aside {
    flex: 0 1 326px;
    overflow: scroll;
    padding: 0 16px 5px 5px;
    box-sizing: border-box;
    background-color: #340202;
}

.sidebar {
    width: 300px;
}

.sidebar img.rover {
    width: 100%;
    max-width: 90px;
    padding: 5px;
}

@media screen and (max-width: 640px){
    .flex-container {
        flex-direction: column;
    }

    .sidebar {
        flex: 0 1 200px;
    }
}